.display-movie-container{
    position: absolute;
    background-color: #16bc9e;
    top:5vh;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.display-movie-container::-webkit-scrollbar{
    display: none;
}