.display-shows-container{
    position: absolute;
    top:5vh;
    width: 100vw;
    height: 89vh;
    background-color: #9C1A1C;
    overflow-y: auto;
}

.display-shows-container::-webkit-scrollbar{
    display: none;
}