*{
    margin: 0;
}

.home-container{
    position: absolute;
    top: 5vh;
    width: 100vw;
    height: 89vh;
    background-color: #3A7734;
    overflow-y: auto;
    /*z-index: 10;*/
}

.outer-container{
    border: 1px solid white;
    width: 90vw;
    /*height: 93vh;*/
    justify-self: center;
}

.top-recommended{
    border: 1px solid white;
    width: 70vw;
    height: 30vh;
    justify-self: center;
}

.container1{
    /*position: relative;*/
    border: 1px solid white;
    width: 70vw;
    height: 30vh;
    justify-self: center;
    gap: 2vw;
    display: flex;

    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.show-container{
    margin-top: 25px;
    margin-right: 15px;
    border: 1px solid white;
    width:15vw;
    height:25vh;
    flex: 0 0 auto;
}

.container1::-webkit-scrollbar{
    display: none;
}

.title{
    position: absolute;
}

