*{
    margin: 0;
    /*background-color: saddlebrown;*/
}
.navBar-container{
    position: relative;
    height: 5vh;
    width: 100vw;
    border-bottom: 1px solid #d3926e;
    row-gap: 2vw;
    background-color: #3B666B;
    /*border-radius: 10px;*/
}

.nav{
    text-decoration: none;
    color: black;
}

.navBar{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    list-style: none;
    justify-content: center;
    text-align: center;
}